@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-auto">
            @if (Model.SelectGenreIds.Count > 0)
            {
                <span><strong>Genres:</strong></span>
                @foreach (var genre in Model.Genres)
                {
                    if ((Model.SelectGenreIds).Contains(genre.Id))
                    {
                        <span><u>@genre.Name</u></span>
                    }
                }
            }
            @if (Model.SelectRatingIds.Count > 0)
            {
                <span><strong>Ratings:</strong></span>
                @foreach (var rating in Model.Ratings)
                {
                    if ((Model.SelectRatingIds).Contains(rating.Id))
                    {
                        <span><u>@rating.Name</u></span>
                    }
                }
            }
        </div>
    </div>
    <form method="get" id="filter-form">
        <div class="row align-items-start">
            <div class="col-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter Genre
                    </button>
                    <ul class="dropdown-menu px-3">
                        @foreach (var genre in Model.Genres)
                        {
                            var isChecked = ((List<int>)Model.SelectGenreIds)?.Contains(genre.Id) ?? false;
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input genre-checkbox" type="checkbox" name="genreIds" value="@genre.Id" id="genre_@genre.Id"
                                    @(isChecked ? "checked" : "") />
                                    <label class="form-check-label" for="genre_@genre.Id">
                                        @genre.Name
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter Rating
                    </button>
                    <ul class="dropdown-menu px-3">
                        @foreach (var rating in Model.Ratings)
                        {
                            var isChecked = ((List<int>)Model.SelectRatingIds)?.Contains(rating.Id) ?? false;
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input rating-checkbox" type="checkbox" name="ratingIds" value="@rating.Id" id="rating_@rating.Id"
                                    @(isChecked ? "checked" : "") />
                                    <label class="form-check-label" for="rating_@rating.Id">
                                        @rating.Name
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            <div class="col-md-3" style="padding-bottom: 10px;">
                <div class="card">
                    <div class="card-body">
                        <img src="..." class="card-img-top" alt="...">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                        <p class="card-text"><small class="text-body-secondary">@string.Join(',', movie.Genres.Select(g => g.Name))</small></p>
                        <p class="card-text"><small class="text-body-secondary">@movie.Rating.Name</small></p>
                        <div style="display:inline;">
                            <button class="btn btn-primary">Seen</button>
                            <button class="btn btn-primary">Watch</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        document.querySelectorAll('.genre-checkbox, .rating-checkbox').forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                let form = checkbox.closest('form');
                if(form) form.submit();
            });
        });
    });

</script>
