@page "/enrollment"
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode (prerender: false))

 @* One Way Data Binding *@
@* <div>@Name</div>
<div class="@Name"></div>
<User Username="@Name"></User> *@

@* Two Way Data Binding *@
@* <input @bind="UserName" />
@UserName *@

@* Data Binding with @Bind-Value *@
@* <input @bind-value="UserName" />
<InputText @bind-Value="UserName" /> *@

@* Event Binding *@
@* <button @onclick="OnClick">Click Me</button>
<EditForm Model="User" OnSubmit="@OnSubmit"></EditForm> *@

@* Complex Objects *@
@* <User Username="@User.Username"></User>  *@

<div class="bg-gray ">
    <h3>@SchoolName</h3>
    <h4 class="@SchoolStyle">Students Enrolled: @NumberOfStudents SchoolGPA: @SchoolGPA</h4>
    <div class="row">
        <div class="col-6">
            <label class="form-label" for="FirstName">First Name:</label>
            <input class="input-group" type="text" id="FirstName" @bind="FirstName" />
        </div>
        <div class="col-6">
            <label class="form-label" for="LastName">Last Name:</label>
            <input class="input-group" type="text" id="LastName" @bind="LastName" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="form-label" for="GradeLevel">Grade Level:</label>
            <input class="input-group" type="number" id="GradeLevel" @bind="GradeLevel" />
        </div>
        <div class="col-6">
            <label class="form-label" for="GPA">GPA:</label>
            <input class="input-group" type="number" id="GPA" @bind="GPA" />
        </div>
    </div>
    <div class="padding-10">
        <button class="btn btn-primary btn-sm" @onclick="OnValidSubmit">Submit</button>
    </div>

</div>

@if (students.Count == 0)
{
    <p>No Data...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade Level</th>
                <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.GradeLevel</td>
                    <td>@student.GPA</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    [EditorRequired]
    public required string SchoolName { get; set; }
    private string? FirstName;
    private string? LastName;
    private int? GradeLevel;
    private double? GPA;
    private Student NewStudent = new Student();
    private List<Student>? students = new List<Student>();
    private int NumberOfStudents { get { return students.Count; } }
    private string SchoolStyle;
    private double? SchoolGPA;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        //await Task.Delay(500);

        students = new List<Student> { new Student("Hemraj", "Persaud", 12, 4.0) };
        UpdateSchoolStyle();
    }

    public void UpdateSchoolStyle()
    {
        double? GPASums = students.Sum(s => s.GPA);
        SchoolGPA = double.NaN == GPASums ? 0 : GPASums / students.Count;
        switch (SchoolGPA)
        {
            case > 3.0:
                SchoolStyle = "bg-success";
                break;
            case >= 2.0:
                SchoolStyle = "bg-warning";
                break;
            default:
                SchoolStyle = "bg-danger";
                break;
        }
    }


    private void OnValidSubmit()
    {
        var NewStudent = new Student(FirstName, LastName, GradeLevel, GPA);
        students.Add(NewStudent);
        UpdateSchoolStyle();
        ClearFields();
    }

    private void ClearFields()
    {
        FirstName = string.Empty;
        LastName = string.Empty;
        GradeLevel = null;
        GPA = null;
    }

    private record Student(string? FirstName = "", string? LastName = "", int? GradeLevel = 1, double? GPA = 0);

    public string Name { get; set; } = "Hemraj";
    public string UserName { get; set; } = "HP";

    public record Person(string Username);
    public Person User { get; set; } = new Person("Hemraj Persaud");

    public void OnClick()
    {
        Name = "Hemraj Persaud";
        UserName = "HP";
    }

    public void OnSubmit()
    {
        Name = "Hemraj Persaud";
        UserName = "HP";
    }
}
