@page "/"
@page "/home"
@page "/start"
@inject NavigationManager NavigationManager

@attribute [Route(RouteDefinitions.HomeRoute)]

@* @inject IGrettingService GreetingService *@
@inject IStateService StateService
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Home </PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>
    <RandomNumber></RandomNumber>
    <FullName FirstName="@FirstName" LastName="Persaud"></FullName>
    <Search OnSearch="OnSearchText" />
    You Searched For: @SearchText
</div>

<div>
    <CascadingValue Value="CascadingAmount" Name="Amount">
        <Revenu Amount="100_000"></Revenu>
        <Revenu Amount="400_000"></Revenu>
        <Revenu Amount="700_000"></Revenu>
    </CascadingValue>

    <Gretting Name="Hemraj"></Gretting>
</div>
<QuickGrid Items="States" Pagination="pagination" Theme="">
    <PropertyColumn Title="Name" Property="@(s => s.Name)" Sortable="true" />
    <PropertyColumn Title="Abbreviation" Property="@(s => s.Abbreviation)" Sortable="true" />
</QuickGrid>
<Paginator State="pagination"></Paginator>

<button type="button" class="btn btn-primary" @onclick="NavClick">Counter Nav</button>

@GreetingService.GetGreeting()

<img src="@ImageSource" style="width:600px;" alt="BlazorComic" />





@code
{
    public decimal CascadingAmount { get; set; } = 1_000_000;

    public string ImageSource { get; set; } = "images/BlazorComic.png";
    string FirstName = "Hemraj";

    public string SearchText { get; set; } = "";

    [Inject]
    public required IGrettingService GreetingService { get; set; }

    public IQueryable<State>? States { get; set; } = null;
    public PaginationState pagination { get; set; } = new PaginationState { ItemsPerPage = 5 };



    protected override void OnInitialized()
    {
        States = StateService.GetStates().AsQueryable();
        base.OnInitialized();
    }

    public void OnSearchText(string text)
    {
        SearchText = text;
    }

    public void NavClick()
    {
        NavigationManager.NavigateTo("/counter");
    }
}