@page "/"
@page "/home"
@page "/start"
@inject NavigationManager NavigationManager
@inject ILogger<Home> Logger

@attribute [Route(RouteDefinitions.HomeRoute)]

@* @inject IGrettingService GreetingService *@
@inject IStateService StateService
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Home </PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div>
    <RandomNumber></RandomNumber>
    <FullName FirstName="@FirstName" LastName="Persaud"></FullName>
    <Search OnSearch="OnSearchText" />
    You Searched For: @SearchText
</div>

<div>
    <CascadingValue Value="CascadingAmount" Name="Amount">
        <Revenu Amount="100_000"></Revenu>
        <Revenu Amount="400_000"></Revenu>
        <Revenu Amount="700_000"></Revenu>
    </CascadingValue>

    <Gretting Name="Hemraj"></Gretting>
</div>
<QuickGrid Items="States" Pagination="pagination" Theme="">
    <PropertyColumn Title="Name" Property="@(s => s.Name)" Sortable="true" />
    <PropertyColumn Title="Abbreviation" Property="@(s => s.Abbreviation)" Sortable="true" />
</QuickGrid>
<Paginator State="pagination"></Paginator>

<Question Title="What type of technology us ASP.Net Core Blazor">
    <Content>
        <input type="checkbox" /> Frontend web framework<br />
        <input type="checkbox" /> Backend web framework<br />
        <input type="checkbox" /> Full stack web framework<br />
        <input type="checkbox" /> None of the above<br />
        <input type="checkbox" /> All of the above<br />
    </Content>
</Question>

<Question Title="Do you like using Blazor">
    <Content>
        <div style="color: purple; font-size: 16px">
            <input type="radio" name="like-blazor" id="yes" /> yes <br />
            <input type="radio" name="like-blazor" id="no" /> no <br />
        </div>
    </Content>
</Question>

<button type="button" class="btn btn-primary" @onclick="NavClick">Counter Nav</button>
<br />

@GreetingService.GetGreeting()
<br />

<img src="@ImageSource" style="width:600px;" alt="BlazorComic" />
<br />





@code
{
    public decimal CascadingAmount { get; set; } = 1_000_000;

    public string ImageSource { get; set; } = "images/BlazorComic.png";
    string FirstName = "Hemraj";

    public string SearchText { get; set; } = "";

    [Inject]
    public required IGrettingService GreetingService { get; set; }

    public IQueryable<State>? States { get; set; } = null;
    public PaginationState pagination { get; set; } = new PaginationState { ItemsPerPage = 5 };



    protected override void OnInitialized()
    {
        Logger.LogTrace("Trace");
        Logger.LogDebug("Debug");
        Logger.LogInformation("Information");
        Logger.LogWarning("Warning");
        Logger.LogError("Error");
        Logger.LogCritical("Critical");
        States = StateService.GetStates().AsQueryable();
        base.OnInitialized();
    }

    public void OnSearchText(string text)
    {
        SearchText = text;
    }

    public void NavClick()
    {
        NavigationManager.NavigateTo("/counter");
    }
}